* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  /* header section */
  .header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 12px 20px 12px;
    background-color: gray;
    width: 100%;
    height: 72px;
  }

  .header-section li {
    list-style: none;
  }

  .header-section a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Crete Round', serif;
    font-size: 20px;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 0 16px 20px 16px;
    background: #1c1a19 url("../images/hero.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 180%;
  }

  .hero-section .hero-social-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding-top: 20px;
  }

  .hero-section .hero-title {
    margin-top: 64px;
    color: #ff6b00;
    font-size: 32px;
  }

  .hero-section .hero-title h3 {
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
  }

  .hero-section .hero-desc {
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: white;
  }

  /* Work and aboutme section */
  .works-section {
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 0 16px 20px 16px;
  }

  .works-section .Work-section-title {
    color: #212121;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 20px;
  }

  .works-section .Work-section-title .work-title {
    margin-left: 20px;
  }

  .works-section .work-small-title {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #091e42;
  }

  .works-section .work-desc {
    line-height: 20px;
    font-family: 'Inter', sans-serif;
  }

  .works-section .work-desc-links {
    display: flex;
    flex-direction: row;
  }

  .works-section .work-desc-links li {
    border: grey 1px solid;
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
  }

  .works-section .work-desc-links li a {
    text-decoration: none;
  }

  .works-section .work-section-button {
    padding: 15px 8px 15px 8px;
    width: 150px;
    margin-top: 20px;
    background: #ff6b00;
    border: none;
    font-weight: bolder;
  }

  .projects-section {
    margin-top: 120px;
    display: grid;
    grid-area: 1 / 1 / span 6 / span 1;
    height: 500px;
    padding: 0 16px 20px 16px;
  }

  .projects-section .project-item {
    background: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    background-position: center;
    mask-image: linear-gradient(to bottom, transparent 15%, black);
    width: 100%;
    height: 400px;
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .projects-section .project-item h2 {
    font-size: 32px;
    font-family: 'Crete Round', serif;
  }

  .projects-section .project-item .project-item-desc {
    font-family: 'Crete Round', serif;
    font-size: 16px;
    line-height: 24px;
  }

  .projects-section .project-item .project-item-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 12px;
    list-style: none;
  }

  .projects-section .project-item .project-item-links a {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    background-color: gray;
    color: whitesmoke;
  }

  .projects-section .project-item .project-item-links a:hover {
    background-color: #ff6b00;
    transition: 0.7s;
  }

  .projects-section .project-item .project-item-btn {
    background: #ff6b00;
    padding: 20px;
    border: none;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
  }

  .projects-section .project-item .project-item-btn:hover {
    color: #ff6b00;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    padding: 11px;
    transition: 0.4s;
  }

  .aboutme-section {
    display: flex;
    flex-direction: column;
    background: #1c1a19 url("./images/Frame.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 330px;
    padding: 0 16px 20px 16px;
    margin-top: 2000px;
  }

  .aboutme-section .aboutme-title {
    color: #ff6b00;
    font-size: 72px;
    font-family: 'Crete Round', serif;
    margin-bottom: 14px;
    margin-top: 80px;
  }

  .aboutme-section p {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 24px;
  }

  .aboutme-section .divider {
    margin-top: 180px;
  }

  .aboutme-section .aboutme-resumebtn {
    background-color: #ff6b00;
    padding: 20px;
    width: 55%;
    margin-top: 24px;
    border: none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
  }

  .aboutme-technologies .technologies-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
  }

  .aboutme-section .aboutme-technologies .technologies-category .first {
    list-style: none;
  }

  .aboutme-section .aboutme-technologies .technologies-category .first span {
    color: whitesmoke;
    font-family: 'Meera Inimai', sans-serif;
    font-weight: 700;
    font-size: 32px;
  }

  .aboutme-section .aboutme-technologies .technologies-category .first ul {
    list-style: none;
    color: white;
    text-align: center;
    font-family: 'Meera Inimai', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-top: 14px;
  }

  .aboutme-section .aboutme-technologies .technologies-category .first ul li {
    padding-bottom: 20px;
  }

  .aboutme-section .aboutme-technologies .technologies-category .first ul li a {
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
  }

  .contact-form-section {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px 20px 16px;
  }

  .contact-form-section .contact-form-title {
    padding-bottom: 30px;
    color: #091e42;
    font-size: 36px;
  }

  .contact-form-section .form-text p {
    font-family: 'Meera Inimai', sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: #091e42;
  }

  .contact-form-section .form-inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
  }

  .contact-form-section .form-inputs input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
    padding-bottom: 30px;
  }

  .contact-form-section .form-inputs textarea {
    padding: 10px;
    font-size: 14px;
  }

  .contact-form-section .form-inputs .getintouchbtn {
    background-color: #ff6b00;
    width: 80%;
    align-self: center;
    padding: 20px;
    border: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 32px;
  }

  .footer-links {
    height: 200px;
    width: 100%;
  }

  .footer-links .footer-social-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    color: black;
  }
}

@media only screen and (min-width: 768px){
  body{
    color: #091E42;
  }

  .header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: #3e3c3c;
    color: #fff;
    padding:10px;
    width: 100%;
  }

  .header-section .title {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
  }

  .header-section .menu {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }

  .header-section .menu .menu-links {
    display: flex;
    flex-direction: row;
  }

  .header-section .menu .menu-links a {
    text-decoration: none;
    list-style: none;
    margin-right: 14px;
    color: white;
  }

  .header-section .toggle-icon {
    display: none;
  }

  .hero-section {
    background: #1c1a19 url(./images/heroDesktopBg.png);
    background-repeat: no-repeat;
    background-size: 380px;
    background-position-x: 930px;
    background-position-y: -44px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    height: 440px;
    gap: 50px; 
  }

  .hero-section .hero-text {
    color: #fff;
    width: 400px;
    height: 123px;
  }
  
  .hero-section .hero-title h1 {
    color: #f55800;
    font-size: 72px;
    font-family: 'Crete regular', serif;
  }

  .hero-section .hero-title h3 {
    font-family: 'Inter', sans-serif;
  }

  .hero-section .hero-text .hero-desc {
    font-family: 'Inter regular', sans-serif;
    padding-top: 12px;
    line-height: 20px;
    font-size: 12px;
  }

  .hero-section .hero-social-links {
    margin-left:16px;
    list-style: none;
    padding-top: 100px;
  }

  .hero-section .hero-social-links img {
    width: 60%;
    margin-top: 10px;
  }

  .works-section .Work-section-title {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px 50px 50px 50px;
  }

  .works-section .Work-section-title .vector {
    width: 65%;
    height: 3px;
    margin-top: 12px;
  }

  .works-section .Work-section-title h2{
    color: #091E42;
  } 

  .works-section .works-text {
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin: 0 50px 50px 50px;
  }

  .works-section .works-text .work-desc-links {
    list-style: none;
    display: flex;
    gap: 14px;
    margin: 14px 0 14px 0;
  }

  .works-section .works-text .work-desc-links  li {
    border: #3e3c3c 1px solid;
    padding: 5px;
  }
  .works-section .works-text .work-desc-links a {
    text-decoration: none;
  }
  .works-section .works-links h3 {
    margin-bottom: 14px;
    color: #091E42;
  }
  .works-section .works-links .work-section-button {
    padding: 8px;
    background:#f55800;
    border: none;
  }

  .projects-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 50px 50px 50px;
    gap: 14px;
  }

  .projects-section .project-item {
    
    height:300px;
    padding: 50px 10px 10px 10px;
    color:#fff;
  }
  .projects-section .project-item p{
    font-size: 12px;
  }
  .projects-section .project-item .item-content {
    margin-top: 115px;
  }


  .projects-section .project-item .project-item-btn {
    width: 100%;
    padding: 8px;
    background: #ff6b00;
    border: none;
    margin-top: 160px;
    color: #fff;
    font-weight: bold;

  }

  .project-item .project-item-links {
    display: flex;
    flex-direction: row;
    gap: 5px;
    
  }

  .project-item .project-item-links a,
  li{
    list-style: none;
    text-decoration: none;
    color:whitesmoke
  }

  .project-item .project-item-links li {
    padding: 5px;
    background-color: #3e3c3c;
  }

  .projects-section .project-item:nth-child(1) {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #091E42;
  }

  .projects-section .project-item:nth-child(2) {
    background-image: url(./images/available.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .projects-section .project-item:nth-child(3) {
    background-image: url(./images/portfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .projects-section .project-item:nth-child(4) {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .projects-section .project-item:nth-child(5) {
    background-image: url(./images/available.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .projects-section .project-item:nth-child(6) {
    background-image: url(./images/portfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .aboutme-section {
    display: flex;
    flex-direction: column;
    background: #1c1a19 url("./images/abtmeBg.png");
    color: whitesmoke;
    background-repeat: no-repeat;
    background-position-x: 470px;
    background-position-y: 70px;
    width: 100%;
    height:auto;
    background-size: 40%;
    padding-bottom: 60px;
  }

  .aboutme-section .about-intro {
    width: 350px;
    margin: 50px 0 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  .aboutme-section .about-intro h2 {
    color: #ff6b00;
    font-family: 'Crete regular', serif;
    font-size: 52px;
  }

  .aboutme-section .about-intro .aboutme-resumebtn {
    background: #ff6b00;
    padding: 8px;
    width: 150px;
    border: none;
    margin-bottom: 40px;
  }

  .aboutme-section .about-intro .divider {
    width:650px;
  }

  .aboutme-section .aboutme-technologies {
    margin: 20px 0 0 50px;
  }

  .aboutme-section .aboutme-technologies .technologies-category {
    display: flex;
    flex-direction: row;
    gap: 150px;
  }

  .aboutme-section .aboutme-technologies .technologies-category .first ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 18px; 
  }

  .aboutme-section .aboutme-technologies .technologies-category  ul li a {
    text-decoration: none;
    color: #fff;
  }

  .contact-form-section {
     display: flex;
     flex-direction: row;
     padding: 80px;
     gap: 40px;
  }

  .contact-form-section:nth-child() {
    width: 50%;
  }

  .contact-form-section .contact-form-title {
    display: none;
  }

  .contact-form-section .form-inputs {
    display: flex;
    flex-direction: column;
    gap:12px;
  }

  .contact-form-section .form-inputs .form-input-names input,
  .input-email{
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .contact-form-section .form-text p {
    color: #262626;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .contact-form-section .getintouchbtn {
    width: 100px;
    padding: 10px;
    border: none;
    background: #ff6b00;
    color: #fff;
  }

  .footer-links .footer-social-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .footer-links .footer-social-links .fa {
    color: gray;
    margin-top: 10px;

  } 

}